<!-- Capture and store a URL -->
{% capture location %}{{ page.url | split:'/' }}{% endcapture %}
<header class="main-header" role="banner">
  <div class="grid">
    <div class="grid__col--12">
      <a class="site-logo" href="{{ site.baseurl }}/" title="Bruce Caraway | Personal Blog">
        Bruce Caraway
      </a>

<a class="bc_social" href="https://twitter.com/brucecaraway" target="_blank"><i class="fa fa-twitter fa-2x"></i></a> 
<a class="bc_social" href="https://instagram.com/brucecaraway" target="_blank"><i class="fa fa-instagram fa-2x"></i></a> 
<a class="bc_social" href="https://www.linkedin.com/in/brucecaraway" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a> 
      <nav class="navbar" role="navigation">
        <ul class="nav">
        {% for page in site.pages %}
          <!-- Compare the page title to the URL -->
          {% assign current = page.title | downcase %}
          
          {% if page.title %}
          <li {% if location == current %} class="nav__item--current" {% else %} class="nav__item" {% endif %} >
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
          {% endif %}
          
        {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
